section.financials {
    margin-top: 40px;
}

.financials--header {
    padding: 30px 20px;

    @include mobile {
        padding: 20px;

        svg {
            display: none;
        }
        
        h2.nbsp {
            display: none;
        }
    }
}

.financials--cell__flex {
    display: flex;
    justify-content: center;
    padding: 5px;

    @include mobile {
        flex-direction: column;
        border-bottom: 1px solid grey;
        width: 75%;
        margin: 0 auto;   
    }

    @include phone {
        width: 90%;
    }

    .financials--cell__left {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;

    }
    .financials--cell__right {
        width: 60%;
    }

    @include mobile {
        .financials--cell__left, .financials--cell__right {
            width: 100%;
            justify-content: center;
            text-align: center;
        }
    }
}

.financials--container {
    padding-bottom: 50px;

    @include mobile {
        padding-bottom: 0;
    }

    .arrow-down-blue {
        padding-bottom: 30px;

        @include phone {
            padding-bottom: 10px;
        }
    }
}

.financials--container__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .financials--right {
        padding: 0 60px;
        margin-bottom: 20px;
        p {
            margin: 10px 0;
        }
    }
}

.financials--container__left {

    .financials--left {
        text-transform: none;
        padding: 20px 40px;
        margin: 15px auto;

    }
    @include mobile {
        margin-bottom: 30px;
    }
}

.financialsModal {
    padding: 20px;
    h4 {
        margin: 5px 0;
    }

    .financialsModal--header {
        h4 {
            margin: 0;
        }
        h4:nth-of-type(2) {
            padding-bottom: 15px;
        }
    }
    .has-blue-underline {
        border-bottom: 1px solid $brandPrimary;        
    }

    .financialsModal--body__cell {
        p {
            padding: 5px 0;
        }
        display: flex;
        justify-content: space-between;

        p {
            display: inline;
        }
    }

    .financialsModal--footer__investment {
        div {
            display: flex;
            p {
                display: inline-block;
                width: 100px;
            }
        }
    }

    .financialsModal--footer__IAC {
        
        display: flex;
        flex-wrap: wrap;
        div {
            margin: 5px 10px;
        }
    }
}