section.financials {
    margin-top: 40px;
}

.financials--header {
    padding: 30px 20px;

    @include mobile {
        padding: 20px;
        
        h2.nbsp {
            display: none;
        }
    }
}

.financials--cell__flex {
    display: flex;
    justify-content: center;
    padding: 20px 10px;

    @include phone {
        flex-wrap: wrap;
        border-bottom: 1px solid grey;
        width: 90%;
        margin: 0 auto;
        
    }

    .financials--cell__left {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;

    }
    .financials--cell__right {
        width: 60%;
    }

    @include phone {
        .financials--cell__left, .financials--cell__right {
            width: 100%;
            justify-content: center;
            text-align: center;
        }
    }
}

.financials--container {
    padding-bottom: 50px;

    .arrow-down-blue {
        padding-bottom: 30px;

        @include phone {
            padding-bottom: 10px;
        }
    }
}

.financials--container__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.financials--container__left {
    @include mobile {
        margin-bottom: 30px;
    }
}