section.impactStories {
    margin-top: 8px;
}
.impactStories--header {
    padding: 30px 20px;

    @include mobile {
        padding: 20px;
    }
}

.impactStories--cell__left > .impactStories--cell__subheader {
    border-left: 5px solid $brandRed;
    padding-left: 25px;
}

.impactStories--cell {
    padding: 30px 60px;

    p {
        margin: 20px 0;
    }

    @include phone {
        padding: 30px;
    }
}

.impactStories--cell__subheader {
    min-height: 50px;
    margin-bottom: 30px;

    p {
        margin: 0;
    }

    @include touch {
        min-height: 75px;
    }

    @include mobile {
        min-height: 0;
    }
}

.impactStories--cell__body {
    min-height: 280px;

    @include touch {
        min-height: 315px;
    }

    @include mobile {
        min-height: 210px;
    }
}

.impactStories--cell__right {
    @include phone {
        .impactStories--cell__subheader {
            display: none;
        }
    }
}

.modal.sfap {
    .modal-background {
        background-color: rgba(10,10,10,0.5);
    }
}