section.impactStories {
    margin-top: 8px;
}
.impactStories--header {
    padding: 50px 20px;
}

.impactStories--cell {
    padding: 30px 60px;

    p {
        margin: 20px 0;
    }

    @include phone {
        padding: 30px;
    }
}

.impactStories--cell__subheader {
    min-height: 50px;
    margin-bottom: 30px;

    p {
        margin: 0;
    }
}

.impactStories--cell__right {
    @include phone {
        .impactStories--cell__subheader {
            display: none;
        }
    }
}