
.lastingLegacy--header {
    padding: 30px 0;
}

.lastingLegacy--body {
    padding-top: 30px;
    padding-bottom: 50px;

    div.column {
        padding: 0.75rem 60px;

        h4, p, img {
            margin-bottom: 20px;
        }
    }
}

