
.lastingLegacy--header {
    padding: 30px 0;
    margin-top: 50px;

    @include touch {
        padding: 30px 20px;
    }
}

.lastingLegacy--body {
    padding-top: 30px;
    padding-bottom: 50px;

    div.column {
        padding: 0.75rem 60px;

        @include touch {
            padding: 0.75rem 20px;
        }

        @include phone {
            padding: 0.75rem 20px;
        }

        h4, p, img {
            margin-bottom: 20px;
        }
    }
}

