$brandPrimary: rgb(11,58,36);

$brandWhite: rgb(255,255,255);

$brandOffWhite: rgb(241,244,246);

$brandRed: rgb(238, 49, 35);

$legacyTab: rgb(133, 24, 83);

$advisoryTab: rgb(238, 49, 35);

$bolTab: rgb(145, 174, 41);

$philanthropyTab: rgb(11, 58, 93);

$tabSectionBackground: rgb(229, 234, 237);