// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
}

.neuton {
    font-family: 'Georgia', serif;
}

.arial {
    font-family: 'Arial', sans-serif;
}

p {
    font-size: 1.6rem;
}

body {
    // line-height: 1;
}
h1 {
    font-size: 5.1rem;
    line-height: 1;

    @include phone {
        font-size: 3.8rem;
    }
}

h2 {
    font-size: 4.2rem;
    line-height: 1;
}

h3 {
    font-size: 3.4rem;
}

h4 {
    font-size: 2.2rem;
}

h5 {
    font-size: 2.6rem;
}

.weight300 {
    font-weight: 300;
}

.weight700 {
    font-weight: 700;
}

.weight900 {
    font-weight: 900;
}

