@mixin phone {
    @media screen and (max-width: 550px) {
        @content;
    }
}


@charset "utf-8";
@import '~bulma/bulma';
@import './colors.scss';
@import './fonts.scss';
@import './partials/_hero.scss';
@import './partials/_foundationhighlights.scss';
@import './partials/_ujamessage.scss';
@import './partials/_impact.scss';
@import './partials/_financialhighlights.scss';
@import './partials/_facesofphilanthropy.scss';
@import './partials/_lastinglegacy.scss';
@import './partials/_legacyoflife.scss';
@import './partials/_highlights.scss';
@import './partials/_dotogether.scss';
@import './partials/_leadership.scss';
@import './partials/_footer.scss';

body {
    background-color: rgb(250,250,250);
}

.arrow-down-red {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid $brandRed;
}

.arrow-down-blue {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid $brandPrimary;
}

.standardbutton {
    width: 300px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('./assets/botton_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    transition: all .2s;

    a {
        display: block;
        padding: 10px 0 10px 20px;
        font-size: 2.2rem;

        &:hover {
            color: $brandWhite;
        }
    }
}

.standardbutton--red:hover {
    background-color: $brandPrimary;
}

.standardbutton--blue:hover {
    background-color: $brandRed;
}


@include phone {
    .columns {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}